* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #363a49;
    background: linear-gradient(to right, #181616, #091241);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    border-radius: 8px;
}

.container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span {
    font-size: 12px;
}

.container a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button {
    background-color: #1d4ed8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.2s;
}

.container button:hover {
    background-color: #0a39b9;
}

.container form {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input,
.container select {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-group {
    width: 100%;
    margin-bottom: 15px;
    position: relative;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 14px;
}

.password-container {
    position: relative;
}

.toggle-password {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #6B7280;
    transition: color 0.2s;
}

.toggle-password:hover {
    color: #374151;
}

#error-message {
    color: #ef4444;
    font-size: 14px;
    margin: 10px 0;
    text-align: center;
}

.volver {
    text-decoration: none;
    position: absolute;
    top: 22px;
    left: 22px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
}

.volver:hover {
    color: rgba(255, 255, 255, 0.8);
}
.forgot-password {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #007bff; 
    text-decoration: none; 
    text-align: center  ;
}

.forgot-password:hover {
    text-decoration: underline; 
}
